.logo-img {
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.table-valign-middle td {
    vertical-align: middle !important;
}

.divider {
    height: 1px;
    width:100%;
    display:block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
