.logo-img {
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.table-valign-middle td {
    vertical-align: middle !important;
}

.divider {
    height: 1px;
    width:100%;
    display:block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.simple-table{
	border-collapse:collapse
}

.simple-table tr td {
	border:1px solid #000
}

.simple-table thead{
	font-weight:bold;
	background-color:#855E42
}